.instant-loan {
  &__arrow {
    width: $s-md;
  }

  &__summary {
    background-color: $color__global-white;
    display: flex;
    flex-direction: column;
    gap: $s-lg;
    @include media-query__small {
      flex-direction: row;
    }
    // Flips arrow icon based on aria-expanded
    &[aria-expanded="true"] {
      .instant-loan__arrow {
        transform: scaleY(-1);
      }
    }
  }

  &__title {
    @include typography($typo__h4);
    margin-top: 22px;
    margin-bottom: $s-xs;
  }

  &__underline {
    display: flex;
    align-items: center;
    gap: $s-xs;
    margin-top: 35px;
  }

  &__branches {
    display: grid;
    gap: 1px;
  }

  &__branch {
    background-color: $color__global-white;
    min-height: $s-4xl;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    cursor: pointer;
    padding-left: $s-lg;
    padding-right: $s-lg;
  }
}
