// media-container--grid, --card, --small mixins moved to tools/mixins.misc.scss
// for per-component SCSS compilation.

.media-container {
  height: 100%;
  width: 100%;

  &--placeholder {
    @include identity-placeholder;
  }
}

.media-container__media {
  height: 100%;
  width: 100%;

  // This is necessary to make object fit work.
  .image-credited__image,
  figure,
  img {
    width: 100%;
    height: 100%;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.media-container__placeholder-text {
  @extend %identity-placeholder-text;
}
