.infomedia {
  &__logo {
    display: block;
    margin-left: auto;
    object-fit: contain;
    height: $s-lg;
    margin-bottom: $s-lg;
  }

  &__article {
    max-width: $layout__max-width--small;
    margin: 0 auto;
    font-family: $font__title;
  }

  &__headline {
    @include typography($typo__h2);
    margin-bottom: $s-lg;
  }

  &__subheadline {
    @include typography($typo__h4);
    margin-bottom: $s-md;
  }

  &__byline {
    font-weight: $font__weight--bold;
    margin-bottom: $s-sm;
  }

  &__meta {
    margin-bottom: $s-md;
  }

  &__content {
    > * {
      @include typography($typo__body-large);
      margin-bottom: $s-md;
    }
  }

  &__copyright {
    font-weight: $font__weight--bold;
    font-size: 14px;
    text-align: center;
    padding-bottom: $s-xl;
  }
}
