$MODAL_SEARCH_CONTAINER_WIDTH: 550px;

.modal-search {
  flex-direction: column;
  align-items: center;
}

.modal-search__container {
  margin: 0 $s-lg;
  padding-top: 96px;
  max-width: $MODAL_SEARCH_CONTAINER_WIDTH;
  width: 100%;

  @include media-query__small {
    margin: 0 45px;
  }
}

.modal-search__description {
  margin-top: 48px;
  color: $color__text-secondary-gray;
}

.modal-search__input {
  margin-top: $s-lg;
}

.modal-search__buttons {
  margin-top: 48px;
  display: grid;
  justify-content: center;
}

.modal-search__input-element {
  @include typography($typo__body-large);
  width: 100%;
  height: 40px;
  border: 0;
  border-bottom: 1px solid $color__global-black;
  background-color: transparent;
  border-radius: 0;
}
