/* #########################################################################
 * IMPORTANT NOTE:
 * Make sure to read the Project Layout documentation before
 * modifying or using this file. The guide contains information on the mixins,
 * utilities, best practices, and usage examples.
 * Documentation can be found at: [layout-documentation.md](..docs/layout-documentation.md)
 * ######################################################################### */

// Layout max-width variables aligned with breakpoints
$layout__max-width--small: 768px;
$layout__max-width--medium: 1024px;
$layout__max-width--large: 1440px;

$block-max-width__medium: 896px;
$block-max-width__large: 1124px;
$block-max-width__x-large: 1240px;

$article-max-width: 780px;
$_max-width-rich-text: $article-max-width;
$page-max-width: 1440px;

// Material sizing used across cover, recommended-material, recommendation.
$MATERIAL_MEDIUM_MOBILE: 137px;
$MATERIAL_LARGE_DESKTOP: 216px;
$_recommended-material-max-width: 378px;
$_recommended-material-max-height: 432px;

// Edge spacing for containers, ensures edge spacing for mobile or tablet.
$edge-spacing-mobile: $s-md;
$edge-spacing-desktop: $s-2xl;

// Mixin for controlling max-width and edge-spacing(padding) of an element
@mixin layout-container(
  $max-width: $layout__max-width--medium,
  $padding: $s-md
) {
  max-width: $max-width + ($padding * 2);
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding;
  padding-right: $padding;
  box-sizing: border-box;
}

// Mixin for controlling vertical spacing (margin) of an element
@mixin block-spacing($modifier: "standard") {
  $_spacing: 48px;
  $_spacing--large: 64px;

  // If we want sibling spacing, we'll move the element up by 1px, to avoid
  // double borders.
  @if ($modifier == "sibling") {
    $_spacing: -1px;
    $_spacing--large: -1px;
  }

  @if ($modifier == "negative") {
    $_spacing: $_spacing * -1;
    $_spacing--large: $_spacing--large * -1;
  }

  @if ($modifier == "small") {
    $_spacing: $s-lg;
    $_spacing--large: $s-2xl;
  }

  margin-top: $_spacing;

  @include media-query__medium {
    margin-top: $_spacing--large;
  }
}
